<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navalha Real</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
</head>

<body>
  <%- include('components/header') %>

  <div class="container-fluid p-4">
    <div class="row w-100 justify-content-around">
      <div class="col-lg-7 col-12">
        <div class="w-100">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam scelerisque neque in fringilla
            suscipit. Sed euismod ac nibh et faucibus. Fusce tristique, arcu sed auctor tincidunt, ex
            tellus venenatis diam, ut tincidunt eros erat quis nibh. Integer porttitor ultricies
            ullamcorper. Integer tristique nisl vitae luctus mattis. Maecenas mollis urna vitae
            consequat ultrices. Vivamus fermentum nunc quis euismod malesuada. Vestibulum tristique, mi
            in egestas fringilla, dolor urna laoreet leo, sit amet fringilla augue lacus non libero.
            Aliquam erat volutpat. Nunc eleifend nulla at mollis cursus. Donec vehicula ante eu accumsan
            dictum. Aenean accumsan egestas ligula non fringilla. Suspendisse at dictum felis, vel
            lobortis lorem. Nulla imperdiet enim eget aliquet cursus. Integer interdum lacus non augue
            gravida, ut commodo tellus pretium.</p>
          <p>Mauris egestas sodales ullamcorper. Fusce efficitur gravida sem ut blandit. Donec posuere,
            leo vel volutpat lobortis, nisl massa sodales lacus, id cursus nulla nulla quis nisl.
            Pellentesque lacinia nulla non elementum euismod. Vestibulum at sagittis metus. In bibendum
            est arcu, vel vulputate elit tristique quis. Sed non erat diam. Quisque elementum orci vitae
            efficitur accumsan. Aenean vitae rutrum tortor. Proin vel mauris leo. Morbi elit ante,
            pharetra et consequat nec, volutpat vel odio. In sed ante aliquam, malesuada ipsum eget,
            cursus eros. Maecenas turpis est, faucibus in dui non, hendrerit pretium nunc. Integer ut
            neque sollicitudin, vehicula augue eu, rhoncus sem. Vestibulum elementum et lacus vel
            ultricies. Curabitur vitae sodales elit.</p>
        </div>
      </div>

      <div class="col-lg-5 col-12">
        <div class="d-flex justify-content-center w-100">
          <img src="images/barbershop.jpg" alt="img" class="img-fluid" width="82%">
        </div>
      </div>
    </div>
  </div>

</body>

</html>
