@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

p {
    font-family: "Atkinson Hyperlegible Mono", serif;
}

.navbar {  
    background-color: #0d0d0d;
}

body {
    background-color: #f9f9f9;
}

.nav-link {
    color: #f9f9f9;
}

.nav-link:hover {
    color: #f9f9f9;
    text-decoration: underline;
}

#form-container {
    background-color: #dbdde4;
}

#form-header {
    background-color: #b3b3b3;
}

.control-label {
    margin-right: .5rem !important;
}
